.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;


  background: rgb(55, 165, 255);
}

.reset-wrapper {
  padding: 20px 35px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: #fff;
  width: 60%;
}

.reset-container input {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: #666;
}

.reset-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.reset-container button {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #0977a5;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
}

.reset-container button:hover {
  background-color: #215cae;
}

.reset-container input::placeholder {
  color: #999;
}

